@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.navbar-custom {
	transition: all 0.2s ease-in-out;
	.navbar-brand {
		font-family: 'Caveat', cursive;
	}
	.navbar-nav {
		.nav-item {
			.nav-link {
				letter-spacing: 0.1rem;
				line-height: 1.5rem;
				text-transform: uppercase;
			}
		}
	}
}
@media (max-width: 992px) {
	.collapse {
		display: none;
	}
	.collapse.show {
		display: block;
	}
}
