<section class="bg-home position-relative align-self-center" id="home">
	<div class="bg-overlay"></div>
	<div class="container position-relative z-1">
		<div class="row mt-5 mt-sm-0 justify-content-center">
			<div class="col-12 text-center">
				<div class="title-heading">
					<img
						src="assets/images/home/profile.png"
						class="img-fluid rounded-circle border border-3 border-light-subtle"
						alt="Anwar MEQOR's Profile Picture"
					/>
					<h1 class="heading fw-bold text-primary mt-3">Anwar MEQOR</h1>
					<h6 class="fs-4 text-light">
						I am a
						<span
							class="text-primary"
							[appTypingEffect]="[
								'Software Engineer',
								'DevOps Engineer',
								'CyberSecurity Specialist'
							]"
						>
							CyberSecurity Specialist</span
						><span>|</span>
					</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="home-shape d-block position-absolute w-100 h-auto start-0 bottom-0">
				<img
					src="assets/images/home/shape.png"
					alt=""
					class="img-fluid mx-auto d-block w-100"
				/>
			</div>
		</div>
	</div>
	<a
		href="#about"
		data-scroll-nav="1"
		class="mouse-icon position-absolute start-50 z-2 rounded-pill bg-transparent border border-2 border-light"
	>
		<span class="wheel bg-light mx-auto position-relative d-block mover"></span>
	</a>
</section>
